<sf-component>
    <style>
        button{
            color:red;
        }
        p{
            color:yellow;
        }
    </style>
    <template>
        <div>
            <input type="text" sf-value="this.message"/>
            <button sf-innerText="this.buttonName" onclick="this.clickHandler()"></button>
            <my-comp2 sf-msg="this.message"></my-comp2>
            <p sf-innerText="this.message"> 
            </p>
        </div>
    </template>
    <script>
        
        this.buttonName = "click me";
        this.clickHandler = function(){
            alert(this.message);
        };
        Object.defineProperty(this,"msg",{
            set:function(value){
                if(value){
                    this.message = value;
                }
            }
        });
    </script>
</sf-component>