<sf-component>
    <style>
        button{
            color:green;
        }
        p{
            color:black;
        }
    </style>
    <body>
        <div>
            <input type="text" sf-value="this.message"/>
            <button sf-innerText="this.buttonName" onclick="this.clickHandler()"></button>
            <p sf-innerText="this.message"> 
            </p>
        </div>
    </body>
    <script>
        this.message = "this is a component2";
        this.buttonName = "click me 2";
        this.clickHandler = function(){
            alert(this.message);
        };
    </script>
</sf-component>